@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import "tailwindcss";

#map {
  height: 180px;
}
.label {
  @apply uppercase text-gray-400 text-xs tracking-[2px];
}
.value {
  @apply font-bold text-xl md:w-40 text-center md:text-left;
}

.flex-item {
  @apply flex flex-col items-center md:items-baseline justify-center mb-auto gap-2;
}

.separator {
  @apply h-full w-[1px] opacity-40 bg-gray-600 hidden md:block;
}

@theme {
  --layout-mobile: 375px;
  --layout-desktop: 1440px;

  --color-very-dark-gray: hsl(0, 0%, 17%);
  --color-dark-gray: hsl(0, 0%, 59%);

  --font-body: "Rubik", sans-serif;
  --font-size-input: 18px;
}
